      {% extends '/templates/default.twig' %}
      {% set active_page = 'home' %}
      {% block content %}

      <div class="jumbotron">
        <h1>Slim site</h1>
        <p>Toto je jednoduchý web vytvořený pomocí frameworku Slim se šablonovacím systémem Twig a díky Bootstrapu</p>
        <p>Postup tvorby webu najdete na <a href="http://cohledam.cz">Slim tutoriál</a></p>
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">Download &raquo;</a>
        </p>
      </div>
    {% endblock %}