{% extends '/templates/default.twig' %}
{%set active_page = 'sluzby' %}
{% block content %}
  <div class="row">
    <h1>Naše služby</h1>
    <div class="col-xs-6 col-lg-4 service">
      <h2>Laravel</h2>
      <p class=><i class="fa fa-code fa-2x"></i></p>
      <p>Programování větších aplikací</p>
    </div>
    <div class="col-xs-6 col-lg-4 service">
      <h2>Slim</h2>
      <p><i class="fa fa-desktop fa-2x"></i></p>
      <p>Lehký, rychlý framework pro menší weby</p>
    </div>
    <div class="col-xs-6 col-lg-4 service">
      <h2>Wordpress</h2>
      <p><i class="fa fa-wordpress fa-2x"></i></p>
      <p>Instalace, konfigurace, programování</p>
    </div>
    <div class="col-xs-6 col-lg-4 service">
      <h2>Prestashop</h2>
      <p class="serviceicon"><span class="glyphicon glyphicon-shopping-cart"></span></p>
      <p>Instalace, konfigurace, úpravy e-shopů</p>
    </div>
    <div class="col-xs-6 col-lg-4 service">
      <h2>Linuxové VPS</h2>
      <p><i class="fa fa-server fa-2x"></i></p>
      <p>Instalace, konfigurace, provoz</p>
    </div>
    <div class="col-xs-6 col-lg-4 service">
      <h2>Analytika, SEO, reklama</h2>
      <p><i class="fa fa-line-chart fa-2x"></i></p>
      <p>Analýza návštěvnosti webu, Google analytics, Sklik, Google Adwords</p>
    </div>
  </div>
{% endblock %}