{% extends '/templates/default.twig' %}
{%set active_page = 'sluzby' %}
{% block content %}
  <div class="row">
    <h1>Naše služby</h1>
    <div class="col-xs-6 col-lg-4">
      <h2>Laravel</h2>
      <p>Programování větších aplikací</p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>Slim</h2>
      <p>Lehký, rychlý framework pro menší weby</p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>Wordpress</h2>
      <p>Instalace, konfigurace, programování</p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>Prestashop</h2>
      <p>Instalace, konfigurace, úpravy e-shopů</p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>Linuxové VPS</h2>
      <p>Instalace, konfigurace, provoz</p>
    </div>
    <div class="col-xs-6 col-lg-4">
      <h2>Analytika, SEO, reklama</h2>
      <p>Analýza návštěvnosti webu, Google analytics, Sklik, Google Adwords</p>
    </div>
  </div>
{% endblock %}